* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #4d4d4d;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 100%;
  padding: 0 2rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
  background: #a0d8ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #a0d8ef 0%, #ddf1f9 65%, #feffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}

form {
  margin-bottom: 1rem;
}

.help {
  color:#b3b3b3;
  font-weight: 300;
  font-size: 14px;
}

.help img {
  display: inline-block;
  height: 16px;
  position: relative;
  top: 3px;
  margin-right: .5em;
}

ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
}

li {
  flex: 1;
}

.forecast {
  border: 1px solid #ddd;
}

.name {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #737373;
}

.city-name {
  color: #222;
}

.current-city {
  font-size: 18px;
  display: inline-block;
  margin-bottom: .5rem;
}

.view-buttons {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: left;
  color: #737373;
}

.btn {
  margin-right: 2rem;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

.btn-active {
  text-decoration: underline;
  color: #222;
}

.icon {
  text-align: center;
}

.temp {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1rem;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.celsius {
  color: #595959;
  font-weight: 300;
}

.time {
  color: #595959;
  font-size: 18px;
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: .5em;
}

.description {
  color: #595959;
}

.temp-min {
  /* display: inline-block; */
  color: #595959;
}

.temp-max {
  display: inline-block;
  margin-right: .5rem;
}

ul {
  padding-left: 0;
}

.unit {
  padding: .5rem 0;
  border-right: 1px solid #ccc;
}

.unit:last-child {
  border-right: none;
}

input, button {
  padding: .5rem;
  font-size: 16px;
  margin-right: 1rem;
  box-shadow: 0px 0px 4px #595959;
  border: none;
}

button {
  background-color: #2ab0ed;
  color: white;
  border: 1px solid #1296d3;
}